.control {
    margin-bottom: 0.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.control h1 {
    color: rgb(78, 144, 170);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.img {
    display:contents;
    position: relative;
}

.img img {
    background: skyblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
    pointer-events: none;
    width: 200px;
    height: 200px;
    opacity: 1;
    line-height: 200px;
    text-align: center;
}

.img input {
    opacity: 0;
    position: relative;
    margin: -7rem 3rem 5rem 10rem;
    font-size: 3rem;
}

.img button {
    align-self: center;
    width: 40%;
}