.row {
    display: flex;
    flex-direction: row;
}

.row span {
    margin: 8px 0 5px 3rem;
    color: teal;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-weight: bold;
}

.plus {
    margin: 8px 0 5px 5px;
    color: white;
    background-color: teal;
    border-color: teal;
    border: none;
    border-radius: 10rem;
}

.plus:hover {
    cursor: pointer;
    background-color: skyblue;
    border-color: skyblue;
}

/* .row button {
    margin: 8px 0 5px 5px;
    color: white;
    background-color: teal;
    border-color: teal;
    border: none;
    border-radius: 10rem;
}

.row button:hover {
    cursor: pointer;
    background-color: skyblue;
    border-color: skyblue;
} */

.row input {
    width: 40%;
    height: 2rem;
    box-shadow: inset;
    background-color: rgb(205, 235, 247);
    border-color: white;
    border-radius: 2rem;
    border-style: hidden;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

.search {
    width: 10px;
    margin: 3px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.container h4 {
    text-align: center;
    color: teal;
    white-space: nowrap;
}