.section {
    text-align: center;
}

.section h1 {
    color: rgb(78, 144, 170);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.row h4 {
    color: teal;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-weight: bold;
    margin: 10px;
}

.row span {
    color: teal;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-weight: bold;
    margin: 10px 3px;
}

.row button {
    margin: 10px 0;
    color: white;
    background-color: rgb(158, 212, 71);
    border-color: teal;
    border: none;
    border-radius: 10rem;
}

.row button:hover {
    cursor: pointer;
    background-color: teal;
    border-color: teal;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}