.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container h2 {
    text-align: center;
    color: rgb(78, 144, 170);
}

.container h4 {
    text-align: center;
    color: teal;
    white-space: nowrap;
}

.item {
    margin: 1rem;
    background-color: #c2e7f0;
    padding: 1.2rem;
    border-radius: 6px;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
}

.item h5 {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    color: #566d6d;
    white-space: nowrap;
}

.item button {
    margin: 1rem 0 1rem 0;
}